<mat-sidenav-container
  class="example-container">
  <mat-sidenav #sidenav style="width: 100%;">
    <button mat-button (click)="close()" class="toggleButton"><i class="material-icons">
      close
    </i></button>
    <app-side-content (closeSideNav)="this.close()"></app-side-content>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button (click)="sidenav.open()" class="toggleButton"><i class="material-icons">
      menu
    </i></button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
